---
layout: layouts/home.njk
title: JAMSTACK SEO THEMES
description: Full SEO JAMSTACK Themes multi lang template.
button: 
 title: Are you ready with JAMSTACK SEO Themes ??
 text: Get Start Now
 link: /doc/getstart/
features: 
 - title: Super Fast
   description: With New JAMSTACK Technology makes your site have excellent performance in terms of speed.
 - title: SEO injection
   description: Ready with an auto SEO Injection script to help your site get on the Google page.
 - title: Multi Lang
   description: The latest concept multilanguage support for your freedom in developing sites with various languages.
features1: 
 - title: Headless CMS
   description: Fully integrated with Headless Git CMS, for make easy for you update your site.
 - title: Github Repo
   description: Ease of working with github repos to push production build.
 - title: Modern Host
   description: Ease of deploying to modern hosting for performance and speed.
eleventyNavigation:
  key: Home
  order: 1
---
