<footer class="border-top p-1 text-center"><small>Copyrigths {{metadata.title}} | Develope by <a href="https://creativitas.dev">Creativitas</a></small></footer>{%- js %}{% include "public/js/index.js" %}{% endjs%}<script>{% getBundle "js" %}</script></body></html>