<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "widget/seo.njk" %}
{%- css %}{% include "public/css/index.css" %}{% endcss %}
{%- css %}a,.nav-link {text-decoration:none;color: #495057;}img,iframe{max-width:100%;height:auto;}.bold {font-weight: bold;} {% endcss %}
<style>{% getBundle "css" %}</style>
</head>
<body class="text-muted">