<div class="container-fluid mt-1">
{% include "widget/home/header.njk" %}
{% include "widget/home/features.njk" %}
{% include "widget/home/intro.njk" %}
{% include "widget/home/features2.njk" %}
</div>