<div class="row p-3">
{%- for s in features %}
<div class="col-md-4 p-3">
<div class="bg-light p-3 p-md-5 rounded shadow-sm">
<h3><strong><a href="{{page.url}}">{{s.title}}</a></strong></h3>
<p>{{s.description}}</p>
</div>
</div>
{%- endfor %}
</div>